<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.erp_ordit.dao.buy.BuyOrderItemMapper">

<!-- 
	 <select id="buyOrderItemList" resultType="com.spring.erp_ordit.dto.buy.BuyOrderItemDTO">
	      SELECT * FROM order_item_tbl_hjy
  	 </select>
	
  	 <insert id="buyOrderItemInsert" parameterType="com.spring.erp_ordit.dto.buy.BuyOrderItemDTO">
	    INSERT INTO order_item_tbl_hjy (order_id, item_code, item_name, quantity)
	    VALUES (#{order_id}, #{item_code}, #{item_name}, #{quantity})
	 </insert>
  	 
  	 <delete id="buyOrderItemDelete" parameterType="int">
	       DELETE FROM order_item_tbl_hjy
 		    WHERE order_id = #{order_id} 
  	 </delete>
	 -->
	
</mapper>   